th {
  border: 1px solid #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
}

td{
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tableEdit {
  width: 100%;
  background-color: transparent;
  border: none;

}

.tableEdit:focus{
  outline: none;
  box-shadow: 0 0 0 2px rgba(27, 130, 203, 0.5);
}